.backDiv {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editOff {
  position: absolute;
  left: 50%;
  top: 0.5vh;
  transform-origin: translateX(-50%);
  padding: 5px 20px;
  border: 2px solid white;
  background: #2d3436;
  outline: none;
  font-weight: bold;
  color: #dfe6e9;
  transition: all 0.3s ease-in-out;
}
.editOff:hover {
  background: White;
  color: #2d3436;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 2px solid #2d3436;
}
.backNavBar {
  text-align: left;
  height: fit-content;
  list-style: none;
  background: #2d3436;
  padding: 10px 10px 10px 10px;
  margin: 5px;
  transition: all 0.1s ease-in-out;
  color: #dfe6e9;
  font-family: "Ubuntu", sans-serif;
}
.backNavBar:hover,
.back_focused {
  box-shadow: 2px 2px 3px #2c3e50;
  transform: translateX(5px) scale(1.05);
  cursor: pointer;
  font-weight: bold;
}
.backMain {
  position: relative;
  height: 90vh;
  width: 70vw;
  min-width: fit-content;
  background: white;
  box-shadow: 5px 5px 10px #222;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 1%;
  min-width: fit-content;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

/* 後台：作品集 */
.cSwitch {
  position: absolute;
  cursor: pointer;
  right: 0%;
  top: 0%;
}
.cSwitch:hover {
  transform: scale(1.05);
}
.editP {
  position: absolute;
  top: 0%;
  left: -100%;
  height: 100%;
  width: 100%;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  transition: all 0.5s ease-in-out;
}
.editP_Open {
  left: 0%;
  transition: all 0.5s ease-in-out;
}
.tableP {
  width: 85%;
  text-align: center;
  margin-top: 50px;
}
.tableP tr {
  border-bottom: 2px soldi #333;
}
.tableP tr td,
.tableP tr th {
  padding: 10px;
}
.addP {
  position: absolute;
  top: 0%;
  left: 100%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.addP_Open {
  left: 0%;
  transition: all 0.5s ease-in-out;
}
.deleteP:hover,
.deleteBio:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.editC:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.editBio tr td {
  padding: 5px;
}
.showBioText {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 500px;
  height: 500px;
  text-overflow: ellipsis;
  background: #555;
  color: white;
  word-wrap:break-word;
}
.fas:hover{
  transform: scale(1.1);
  cursor:pointer;
}