* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Noto Sans TC", sans-serif;
}
.pageFront {
  display: flex;
  position: fixed;
  top: 5vh;
  transition: all 0.5s ease-in-out;
}
#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: url("../images/backimg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
#navPanel {
  min-width: fit-content;
  display: inline-block;
}
#navGroup {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.navBar {
  text-align: left;
  height: fit-content;
  list-style: none;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px 10px 10px;
  margin: 5px;
  transition: all 0.1s ease-in-out;
  color: #2c3e50;
  font-family: "Ubuntu", sans-serif;
}
.navBar:hover,
.li_focused {
  box-shadow: 2px 2px 3px #2c3e50;
  transform: translateX(5px) scale(1.05);
  cursor: pointer;
  font-weight: bold;
}
.main {
  height: 90vh;
  width: 50vw;
  background: white;
  box-shadow: 5px 5px 10px #222;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 1%;
  display: flex;
  min-width: fit-content;
  transition: all 0.5s ease-in-out;
}
.home,
.about,
.experience,
.skills,
.portfolio,
.contact {
  margin: auto;
}
.infoPic {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-image: url("../images/tom.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
#name {
  font-size: 2.5rem;
  color: rgba(0, 98, 102, 1);
}

/* <--登入區塊-> */
/* <--登入區塊-> */
.loginBar {
  position: relative;
  text-align: left;
  height: fit-content;
  list-style: none;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px 10px 10px;
  margin: 5px;
  color: #2c3e50;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.loginBarText,
.loginBarText {
  font-weight: bold;
  text-decoration: underline;
}

.loginPanel {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 0px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.show {
  height: 110px !important;
}
#loginBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3%;
  top: 4px;
  height: 30px;
  width: 30px;
  border-radius: 15%;
  border: 2px solid #00000088;
  cursor: pointer;
}
.loginBurgerLine {
  height: 3px;
  width: 20px;
  background: #00000088;
  transition: all 0.3s ease-in-out;
}
.loginBurgerLine::before,
.loginBurgerLine::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 20px;
  background: #00000088;
  transition: all 0.3s ease-in-out;
}
.loginBurgerLine::before {
  transform: translatey(6px);
}
.loginBurgerLine::after {
  transform: translatey(-6px);
}
.loginBurgerOP {
  border: none !important;
}
.loginBurgerOP .loginBurgerLine {
  background: transparent !important;
}
.loginBurgerOP .loginBurgerLine::before {
  transform: rotate(45deg);
  background: #000000;
}
.loginBurgerOP .loginBurgerLine::after {
  background: #000000;
  transform: rotate(-45deg);
}
.loginInput {
  border-bottom: 2px solid #000;
}
.loginIcon {
  display: inline-block;
}
.loginForm input[type="text"],
.loginForm input[type="password"] {
  outline: none;
  border-style: none;
  width: 9rem;
  height: 1.5rem;
  padding-left: 0.5rem;
}
.loginForm input[type="submit"] {
  padding: 3px 10px 3px 10px;
  border: 1.5px solid #3d3d3d;
  background: transparent;
  outline: none;
  font-weight: bold;
  color: #3d3d3d;
  transition: all 0.3s ease-in-out;
}
.loginForm input[type="submit"]:hover,
.loginForm input[type="submit"]:focus {
  background: #3d3d3d;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.loginPanel div {
  position: relative;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  min-width: fit-content;
}
.loginPanel button {
  padding: 3px 10px 3px 10px;
  border: 2px solid #3d3d3d;
  margin: 5px;
  background: transparent;
  outline: none;
  font-weight: bold;
  color: #3d3d3d;
  transition: all 0.3s ease-in-out;
}
.loginPanel button:hover,
.loginPanel button:focus {
  border: 2px solid #777;
  background: #3d3d3d;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.pageBack {
  height: 100vh;
  width: 100vw;
  background-color: #00000088;
  position: fixed;
  top: 100vh;
  transition: all 0.5s ease-in-out;
}
.pageFrontToggle {
  top: -100vh;
  transition: all 0.5s ease-in-out;
}
.pageBackToggle {
  top: 0vh;
  transition: all 0.5s ease-in-out;
}
.editOn {
  position: fixed;
  left: 50%;
  bottom: 0.5vh;
  transform-origin: translateX(-50%);
  padding: 5px 20px;
  border: 2px solid #3d3d3d;
  background: white;
  outline: none;
  font-weight: bold;
  color: #3d3d3d;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.editOn:hover {
  background: #3d3d3d;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border: 2px solid #ffffff;
}
.noborder {
  border-style: none !important;
}
