.mt-10{
  margin-top: 10px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.tcent {
  text-align: center;
}
.tright {
  text-align: right;
}
.d-flex{
  display:flex;
}
.j-center{
  justify-content: center;
}
.a-center{
  align-items: center;
}
.t-center{
  text-align: center;
}