.mt-10 {
  margin-top: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.p-5 {
  padding: 5px;
}
.tcent {
  text-align: center;
}
.tright {
  text-align: right;
}
.d-flex {
  display: flex;
}
.j-center {
  justify-content: center;
}
.a-center {
  align-items: center;
}
.f-direction-c {
  flex-direction: column;
}
.wrap {
  flex-wrap: wrap;
}
.t-center {
  text-align: center;
}
.t-right {
  text-align: right;
}
.float-r {
  float: right;
}
.float-l {
  float: left;
}
.p-5 {
  padding: 5px;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
