* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/backimg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;
  filter: blur(1px);
}
#background::after {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: #00000033;
  z-index: -5;
}
#navPanel {
  display: inline-block;
  position: fixed;
  left: 10%;
  top: 10%;
}
#navGroup {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.navBar {
  text-align: left;
  min-width: 7vw;
  height: fit-content;
  display: inline-block;
  list-style: none;
  background: rgba(18, 137, 167, 1);
  padding: 10px 10px 10px;
  margin: 5px;

  transition: all 0.3s ease-in-out;
}
.navBar:hover {
  background: rgba(33, 140, 116, 1);
  transform: translateX(5px) scale(1.05);
  box-shadow: 2px 2px 5px #ffffff77;
  cursor: pointer;
}
.navBar a:link {
  text-decoration: none;
  color: whitesmoke;
}
.navBar a:active {
  text-decoration: none;
  color: whitesmoke;
}
.navBar a:hover {
  text-decoration: none;
  color: whitesmoke;
}
.navBar a:visited {
  text-decoration: none;
  color: whitesmoke;
}

#personalInfo {
  height: 80vh;
  width: 30vw;
  background: white;
  position: fixed;
  top: 10%;
  left: 20%;
  display: flex;
}
.contentLeft {
  margin: auto;
}
.infoPic {
  border-radius: 50%;
  height: 270px;
  width: 250px;
  background-image: url("../images/tom.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.mb-30 {
  margin-bottom: 20px;
}
#name {
  font-size: 2.5rem;
  color: rgba(0, 98, 102, 1);
}
