* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-image: url("../images/backimg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -10;
  filter: blur(1px);
}
#navPanel {
  min-width: fit-content;
  display: inline-block;
}
#navGroup {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.navBar {
  text-align: left;
  height: fit-content;
  list-style: none;
  background: rgba(18, 137, 167, 1);
  padding: 10px 100px 10px 10px;
  margin: 5px;
  transition: all 0.3s ease-in-out;
}
.navBar:hover,
.li_focused {
  background: rgba(33, 140, 116, 1);
  transform: translateX(5px) scale(1.05);
  box-shadow: 2px 2px 5px #ffffff77;
  cursor: pointer;
}
.main {
  height: 90vh;
  width: 50vw;
  background: white;
  display: flex;
  min-width: fit-content;
  transition: all 0.5s ease-in-out;
}

.home,
.about,
.contact {
  margin: auto;
}

.infoPic {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-image: url("../images/tom.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.mb-30 {
  margin-bottom: 20px;
}
#name {
  font-size: 2.5rem;
  color: rgba(0, 98, 102, 1);
}

.show {
  transition: all 0.5s ease-in-out;
}
