* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  font-family: "Noto Sans TC", sans-serif;
}
.header {
  height: 50px;
  width: 100vw;
}
.article {
  display: flex;
}
.tcent {
  text-align: center;
}
.tright {
  text-align: right;
}
#background {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: url("../images/backimg.jpg");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
#navPanel {
  min-width: fit-content;
  display: inline-block;
}
#navGroup {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.navBar {
  text-align: left;
  height: fit-content;
  list-style: none;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px 10px 10px;
  margin: 5px;
  transition: all 0.1s ease-in-out;
  color: #2c3e50;
  font-family: "Ubuntu", sans-serif;
}

.navBar:hover,
.li_focused {
  box-shadow: 2px 2px 3px #2c3e50;
  transform: translateX(5px) scale(1.05);
  cursor: pointer;
  font-weight: bold;
}
.main {
  height: 90vh;
  width: 50vw;
  background: white;
  box-shadow: 5px 5px 10px #222;
  border: 1px solid rgab(0, 0, 0, 0.5);
  border-radius: 1%;
  display: flex;
  min-width: fit-content;
  transition: all 0.5s ease-in-out;
}

.home,
.about,
.experience,
.skills,
.portfolio,
.contact {
  margin: auto;
}

.infoPic {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  background-image: url("../images/tom.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.mb-30 {
  margin-bottom: 20px;
}
#name {
  font-size: 2.5rem;
  color: rgba(0, 98, 102, 1);
}
.show {
  height: 100px !important;
  /* transition: all 0.3s ease-in-out; */
}

/* <--登入區塊-> */
/* <--登入區塊-> */
.loginBar {
  position: relative;
  text-align: left;
  height: fit-content;
  list-style: none;
  background: rgba(255, 255, 255, 1);
  padding: 10px 10px 10px 10px;
  margin: 5px;
  /* transition: all 0.3s ease-in-out; */
  color: #2c3e50;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}
.loginBar:hover {
  cursor: pointer;
}
.loginPanel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0px;
  background: white;
  /* transition: all 0.5s ease-in-out; */
  overflow: hidden;
}
#loginBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translate(0, -50%);
  height: 30px;
  width: 30px;
  border-radius: 15%;
  border: 2px solid #00000088;
  /* transition: all 0.3s ease-in-out; */
}
.loginBurgerLine {
  height: 3px;
  width: 20px;
  background: #00000088;
  /* transition: all 0.3s ease-in-out; */
}
.loginBurgerLine::before,
.loginBurgerLine::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 20px;
  background: #00000088;
  /* transition: all 0.3s ease-in-out; */
}
.loginBurgerLine::before {
  transform: translatey(6px);
}
.loginBurgerLine::after {
  transform: translatey(-6px);
}
.loginBurgerOP {
  top: 15% !important;
  border: none !important;
}
.loginBurgerOP .loginBurgerLine {
  background: transparent !important;
}
.loginBurgerOP .loginBurgerLine::before {
  transform: rotate(45deg);
  background: #000000;
}
.loginBurgerOP .loginBurgerLine::after {
  background: #000000;
  transform: rotate(-45deg);
}
.loginForm input {
  border: 1px solid #000;
  border-radius: 10%;
  margin-top: 10px;
}
